@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');
*{
	font-family: 'Open Sans', 'FontAwesome';
	z-index: 0;
}
body{
    background: rgb(52, 56, 61);
	padding: 80px;
}
h1{
	color: grey;
	margin: 20px auto 0;
	width: 300px;
	text-align: center;
}

p{
	text-align: center;
	color: white;
}

header{
    margin:0 auto;
    height:20%;
}

main{
	min-height: 600px;
}

footer{
    position: auto;
    bottom: 0;
    margin:0 25% 0 25%;
    width:50%;
    height: 150px;
}

#ban{
	position: absolute;
	width: 700px;
	height: 550px;
	z-index: 2;
}

#logo{
	display: block;
	margin: 0 auto;
	width: 200px;
	height: 150px;
}

#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -75px;
}

.signin {
	height: 90px;
	width: 300px;
	border-radius: 14px;
	position: relative;
}

.signin  input[type="text"], .signin  input[type="password"], .signin button[type="submit"]{
	background: rgb(28, 30, 33);
	color: rgb(133, 129, 129);
}
.signin  input[type="text"], .signin  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
.signin  input[type="text"]:focus, .signin  input[type="password"]:focus{
	color: grey;
}
.signin button[type="submit"]{
	color: rgb(79, 85, 97);
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(52, 56, 61);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(52, 56, 61);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
.signin button[type="submit"]:hover{
	color: blue;
	text-shadow: 0 0 10px rgb(0, 126, 165);
	cursor: pointer;
}

.tab {
    overflow: hidden;
    background: rgb(28, 30, 33);
}

.tab button {
    background-color: inherit;
    color: blue;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: blue;
    color: rgb(52, 56, 61);
    font-size: 20px;
}

.tabcontent {
    padding: 6px 12px;
    border-top: none;
}

#auth{
	display: none;
}
a:hover{
	color: blue;
}
